* {
  list-style: none;
  padding: 0;
  margin: 0;
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(95, 206, 169, 0.822);
  padding: 30px;
  width: 45%;
  min-width: 300px;
  margin: 30px auto;
  border-radius: 10px;
  height: 700px;
  overflow-y: scroll;
}
img {
  width: 50px;
}
header {
  margin: 30px 0px 15px 0px;
}
header img {
  width: 100px;
}

/* inddexBtn */
ul.indexBtn {
  display: flex;
  margin-bottom: 15px;
  align-items: center;
}

ul.indexBtn button {
  margin: 5px;
  font-size: 20px;
}
ul.indexBtn button:active {
  transform: scale(0.95);
}
ul.indexBtn button.color {
  border-radius: 5px;
  padding: 10px 15px;
  margin-bottom: 12px;
}
ul.indexBtn li:nth-child(4) button.color {
  background-color: rgb(31, 148, 251);
}
ul.indexBtn li:nth-child(5) button.color {
  background-color: rgb(227, 222, 70);
}
ul.indexBtn li:nth-child(6) button.color {
  background-color: pink;
}

/* items */
ul.items {
  width: 40%;
  min-width: 300px;
}
ul.items li {
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin: 10px;
  background-color: rgb(255, 255, 255);
  padding: 5px;
}
ul.items li img {
  margin: 0 10px;
}
ul.items li.hidden {
  display: none;
}
